# Node.js
node_modules/
build/
.env

# Python
__pycache__/
.venv/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Generated data
data/raw/
data/interim/
data/processed/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.swp

# Logs
*.log

# Misc
.DS_Store
